.partnerLogoMain {
  height: 0;
  transition: 0.15s ease-in-out;
  z-index: 1200;
  width: 100%;
}

.partnerLogoMain .MuiFab-root {
  height: 7rem;
  width: 7rem;
  margin-top: -3.5rem;
}
.partnerLogoMain img {
  width: 100%;
  height: auto;
}
.partnerLogoMain .fabEdit {
  transition: 0.3s ease-in-out;
}
