.mainDivProjects {
  display: inline-block;
  width: 100%;
  padding-bottom: 3vw;
}
.cardsDiv {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 3vw;
  /* padding-bottom: 10vw; */
}

.cardsDiv .card {
  background-color: red !important;
  width: 30vw !important;
  height: 20vw !important;
  cursor: pointer;
}
.cardsDiv .cardDiv2 {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

.mainDivProjects .text {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 3rem;
  color: #1f2224;
  opacity: 0.8;
  font-size: 1.5rem;
  letter-spacing: 0.08vw;
  text-align: -webkit-center;
}
.mainDivProjects .text2 {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 3rem;
  color: #1f2224;
  opacity: 0.8;
  font-size: 1rem;
  letter-spacing: 0.08vw;
  text-align: -webkit-center;
  display: flex;
  justify-content: center;
}
.mainDivProjects .text hr {
  width: 70%;
  border-top: 1px solid;
  opacity: 0.5;
  margin: 1.5rem 0;
}
.emailme {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none !important;
  font-weight: bold;
}
.logoProjectCard {
  height: 7vw;
  margin-top: 6vw;
}
.divProjectCard {
  width: 30vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  place-content: center;
  text-align: center;
}
.divProjectCard .textDiv {
  color: white;
  text-align: center;
  line-height: 2rem;
}
.divProjectCard .textDiv .name {
  font-weight: bold;
  font-size: 1.5rem;
}
.divProjectCard .textDiv .slogan {
  font-size: 1rem;
}
.parallax-card-layers {
  border-radius: 0 !important;
}
.parallax-card-shine {
  border-radius: 0 !important;
}
.theCard {
  cursor: pointer;

  width: 30vw;
  height: 20vw;
  background-position: center !important;
  background-size: cover !important;
}
@media only screen and (max-width: 700px) {
  .theCard {
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    margin-top: 3vw;
    cursor: pointer;
  }
  .divProjectCard {
    width: 88vw;
    height: 60vw;
  }
  .cardsDiv {
    display: inline-block;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 3vw;
    padding-right: 6vw;
    padding-left: 6vw;
  }
  .cardsDiv .card {
    background-color: red !important;
    width: 88vw !important;
    height: 60vw !important;
    cursor: pointer;
  }
  .parallax-card {
    margin-bottom: 5vw;
  }
  .mainDivProjects .text {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2.5rem;
    color: #1f2224;
    opacity: 0.8;
    font-size: 1.2rem;
    letter-spacing: 0.08vw;
  }
}
