a {
  color: white;
  text-decoration: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.5s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover {
  color: var(--secondary);
}
.bg-black {
  background-color: var(--primary);
}
.navbar {
  transition: 0.25s;
  padding-top: 2.5rem;
  box-shadow: none;
  border-bottom-style: solid;
  border-bottom-color: rgba(79, 79, 79, 0);
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 2.15rem;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url(https://img.icons8.com/ios-glyphs/120/FFFFFF/menu--v1.png) !important;
}
.navbar-dark .navbar-toggler-icon:hover {
  background-image: url(https://img.icons8.com/ios-glyphs/120/9d5c63/menu--v1.png) !important;
}
.offcanvas {
  background-color: var(--primary);
  z-index: 1028;
}
.offcanvas-backdrop {
  z-index: 1025;
}
.navbar-brand {
  margin-left: 1rem;
}

.offcanvas-header {
  height: 7.5rem;
}
.navbar-toggler {
  border: none;
  margin-bottom: 2.5%;
}
.navbar-toggler:focus {
  border: none !important;
}
