.divdiv {
  height: 100%;
}

.patterns {
  height: 100vh;
}

svg text {
  /* font-family: Lora; */
  letter-spacing: 5px;
  stroke: white;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 1;
  fill: rgb(255, 255, 255);

  animation: textAnimate 5s ease-in;
}

@keyframes textAnimate {
  0% {
    stroke: var(--secondary);
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: rgba(255, 255, 255, 0);
    stroke-width: 3;
  }

  90% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: rgb(255, 255, 255);
    stroke: var(--secondary);
    stroke-width: 3;
  }
  100% {
    stroke-width: 0;

    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255) !important;
  }
}
